*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
  width: 100%;
}

.full-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.scroll {
  position: fixed;
  right: 5px;
  z-index: 2;
}

.scroll img {
  height: 90px;
  float: left;
}

.scroll p {
  position: relative;
  top: 25px;
  float: right;
  transform: rotate(90deg);
  font-family: 'Tangerine', cursive;
  font-size: 2em;
  color: white;
}

.landing {
  position: relative;
  height: 100vh;
  background-image: url("../img/mt-fitz-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-mark {
  top: 40%;
  height: 45%;
  z-index: 1;
}

#slogan {
  bottom: 28%;
  color: #F2F2E7;
  font-weight: bold;
  z-index: 1;
}

.filter-green {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #D6E681;
  opacity: .4;
}

.nav {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: #FF9554;
}

.nav li {
  display: inline-block;
  margin-top: 27px;
  margin-right: 0;
  margin-left: 12.5%;
}

.nav li:last-of-type {
  margin-right: 12.5%;
}

.main {
  position: relative;
  height: auto;
  overflow: hidden;
}

.section:first-child {
  top: 0;
}

.section {
  position: relative;
  top: -70px;
  height: 80vh;
  padding-top: 22px;
  overflow: hidden;
}

#our-mates {
  background-color: #D6E681;
}

.arrow-down {
  height: 0;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-top: 50px solid inherit;
  position: absolute;
  left: 20%;
}

.section-detail {
  margin: 10px;
  margin-left: 20px;
  width: 20%;
}

.section-detail:nth-child(odd) {
  float: left;
}

.section-detail:nth-child(even) {
  float: right;
}

.section h1 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.section p {
  margin-left: 15px;
  width: 120%;
}

.down-triangle {
  content: '';
  position: relative;
  left: 10%;
	width: 0;
	height: 0;
  border-bottom: 50px solid transparent;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
  z-index: 1;
}

#our-mates-triangle {
  border-top: 50px solid #D6E681;
}

.type-tile {
  width: 20%;
  float: right;
  margin: 20px;
}

.type-tile h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottles {
  width: 100%;
}

.footer {
  position: relative;
  clear: both;
}
